
#Overview{
  box-sizing: border-box;
  float: left;
  width: 80%;
  padding-left: 10px;
  -moz-user-select: none;
}
#Overview .item{
  position: relative;
  display: inline-block;
  width: 50px;height: 50px;
  margin-top: 10px;
  cursor: pointer;
  background-size: cover;
}
#Overview .item span{
  position: absolute;
  display: block;
  top: 50px;left: 0px;
  width: 50px;height: 15px;
  font-size: 0.6em;
  text-align: center;
  word-break: break-all;
  overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}

#Overview .selected::after{
  box-sizing: border-box;
  content: '';
  position: absolute;
  display: block;
  width: 100%;height: 100%;
  border: 1px solid rgb(80,120,220);
}

#Overview .file_dir{
  background-image: url(../../img/icon/dir_fileicon.png);
}
#Overview .file_pdf{
  background-image: url(../../img/icon/pdf_fileicon.png);
}
#Overview .file_file{
  background-image: url(../../img/icon/file_fileicon.png);
}
