
#Rightmenu{
  box-sizing: border-box;
  position: absolute;
  display: none;
  width: 50px;
  border: 1px solid rgb(80,160,220);
  z-index: 100;
  background-color: rgba(0,0,0,0.6);
}
#Rightmenu .item{
  display: block;
  width: 46px;
  height: 16px;
  font-size: 0.8em;
  color: white;
  padding: 0px 2px;
  cursor: pointer;
}
