
#Communicate{
  position: relative;
  box-sizing: border-box;
  width: 400px;height: auto;
  margin-top: 25px;padding: 10px 10px 0px 0px;
  border: 1px solid rgb(220,160,80);
  border-bottom-width: 0px;
  border-left-width: 0px;
}
#Communicate::before{
  content: 'Communicate';
  box-sizing: border-box;
  position: absolute;
  width: 130px;
  top: -20px;left: 1px;
  text-align: center;
  border-radius: 30px 30px 0px 0px / 10px 10px 0px 0px;
  background-color: rgb(220,160,80);
  color: white;
  font: 200 1em 'Fangsong';
}

#Communicate .item{
  position: relative;
  box-sizing: border-box;
  margin-bottom: 5px;padding: 5px;
  border-bottom: 1px solid rgb(220,160,80);
  border-left: 1px solid rgb(220,160,80);
  cursor: pointer;
  background-color: rgba(200,200,200,0.8);
}

#Communicate .item .title{
  display: block;
  width: 380px;
  margin-bottom: 5px;
  text-indent: 1em;
  word-break: break-all;
  font-weight: bold;font-size: 1.5em;
  border-bottom: 1px solid rgb(200,200,200);
}

#Communicate .item .head{
  position: relative;
  font-size: 0.8em;
}
#Communicate .item .head .headimg{
  display: block;
  height: 30px;width: 30px;
  border-radius: 15px;
}
#Communicate .item .head .account{
  display: block;
  position: absolute;
  top: 0px;left: 35px;
  font: bold 1em 'Kaiti';
}
#Communicate .item .head .time{
  display: block;
  position: absolute;
  bottom: 0px;left: 35px;
  font: bold 1em 'Kaiti';
}
#Communicate .item .content{
  display: block;
  text-indent: 30px;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#Communicate .item .interact{
  display: none;
  overflow: hidden;
}

#Communicate .item .interact .nitem{
  position: relative;
  border: 1px solid rgb(220,160,80);
  border-right-width: 0px;
}
#Communicate .item .interact .nitem{
  position: relative;
  padding: 5px;
  font-size: 0.8em;
}
#Communicate .item .interact .nitem .nhead{
  position: relative;
  font-size: 0.8em;
}
#Communicate .item .interact .nitem .nhead .headimg{
  display: block;
  width: 20px;height: 20px;
  border-radius: 10px;
}
#Communicate .item .interact .nitem .nhead .account{
  display: block;
  position: absolute;
  top: 0px;left: 25px;
  font: bold 1em 'Kaiti';
}
#Communicate .item .interact .nitem .nhead .time{
  display: block;
  position: absolute;
  bottom: 0px;left: 25px;
  font: bold 1em 'Kaiti';
}
#Communicate .item .interact .nitem .ncontent{
  display: block;
  text-indent: 30px;
  word-break: break-all;
}

#Communicate .item .interact .nitem .response{
  margin-left: 25px;padding: 5px;
  height: auto;width: 315px;
  background-color: rgb(220,160,80);
}
#Communicate .item .interact .nitem .response .nlastitem{
  margin: 5px 0px;
  border-bottom: 1px solid rgb(200,200,200);
}
#Communicate .item .interact .nitem .response .at{
  color: blue;
}
#Communicate .item .interact .nitem .response .at::before{
  content: '@';
  display: inline-block;
  margin-left: 25px;
}
#Communicate .item .interact .nitem .response .at::after{
  content: ':';
}
#Communicate .item .interact .nitem .response .mcontent{
  display: inline-block;
  word-break: break-all;
}
