
#swProjectList{
  position: relative;
}

#swProjectList .item{
  box-sizing: border-box;
  position: relative;
  width: 300px;height: auto;
  margin: 10px 0px;
  border: 1px solid rgb(80,220,100);
}
#swProjectList .item::after{
  content: '';
  position: absolute;
  top: 5px;right: -1px;
  width: 1px;height: 80px;
  background-color: white;
  border-left-width: 0px;
}

#swProjectList .item .title{
  display: block;
  font-variant: small-caps;
  font-size: 2em;
  font-weight: bold;
  text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
}

#swProjectList .item .overview{
  padding: 0px 5px;
}

#swProjectList .item .curstage{
  box-sizing: border-box;
  width: 280px;height: 30px;
  margin: 10px 0px 5px 10px;padding: 0px;
  border-top: 1px solid rgb(200,200,200);
}
#swProjectList .item .curstage::before{
  content: '';
  position: relative;
  display: inline-block;
  top: 5px;
  box-sizing: border-box;
  width: 20px;height: 20px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: rgb(60,60,60);
}
#swProjectList .item .curstage .timestamp{
  display: inline-block;
  background-color: green;
  margin: 5px 5px 0px 5px;padding: 1px 2px 0px;
  border-radius: 10px;
}
#swProjectList .item .curstage .content{
  float: right;
  width: 150px;
  padding-top: 10px;
  font-weight: bold;
  text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
}

#swProjectList .item .stages{
  box-sizing: border-box;
  display: none;
  position: relative;
  width: 380px;height: auto;
  margin: 0px 0px 5px 10px;padding: 0px;
  border-top: 1px solid rgb(200,200,200);
}
#swProjectList .item .stages .stage{
  position: relative;
}
#swProjectList .item .stages .stage::before{
  content: '';
  position: relative;
  display: inline-block;
  top: 5px;
  box-sizing: border-box;
  width: 20px;height: 20px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: rgb(60,60,60);
}
#swProjectList .item .stages .stage .timestamp{
  display: inline-block;
  background-color: green;
  margin: 5px 5px 0px 5px;padding: 1px 2px 0px;
  border-radius: 10px;
}
#swProjectList .item .stages .stage .content{
  display: block;
  font-weight: bold;
  margin: 5px 0px 0px 30px;
  word-break: break-all;
}
#swProjectList .item .stages .nlaststage .content::after{
  content: '';
  display: block;
  position: absolute;
  top: 25px;left: 9px;
  width: 100%;height: 100%;
  border-left: 1px solid gray;
}
