
#Profile{
  display: none;
  width: 80%;
  margin: 0px auto;
}

#Profile .Navigate{
  display: block;
  width: 100%;height: 30px;
  border-bottom: 1px solid white;
}
#Profile .Navigate .item{
  display: inline-block;
  margin: 0px 5px;
  height: 30px;
  font-weight: bold;
  border: 0px solid rgb(220,120,80);
  cursor: pointer;
}

#Profile .CurrentProject,
#Profile .CompletedProjects{
  display: none;
}
