
#Ref{
  position: relative;
}
#Ref .btn{
  font-weight: bold;
  margin: 0px 5px;padding: 0px 4px;
  box-shadow: 1px 1px 0px rgb(100,100,100);
  cursor: pointer;
  background-color: rgba(220,220,220,0.8);
}
