
#Info{
  position: absolute;
}
#Info .headimg{
  display: block;
  width: 200px;height: 200px;
  border-radius: 5px;
}
#Info .account{
  display: block;
  width: 200px;
  word-break: break-all;
  font: normal 2.2em 'Fangsong';
}
#Info .pertag{
  display: block;
  width: 200px;
  font-size: 1.2em;
  word-wrap: break-word;
}
