
#Navigate{
  width: 100%;
  height: 30px;
  background-color: rgba(80,80,200,0.7);
}
#Navigate .input_path{
  float: left;
  border: 0px;
  width: 400px;
  height: 24px;
  padding: 0px;
  margin: 3px 0px;
  text-indent: 0.3em;
  font-size: 1.2em;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(100,100,255,0.6);
}
#Navigate .path_back{
  background-image: url(../../img/btn/path_back.png);
}
#Navigate .path_forward{
  background-image: url(../../img/btn/path_forward.png);
}
#Navigate .btn_select{
  background-image: url(../../img/btn/btn_select.png);
}
#Navigate .btn_download{
  text-decoration: none;
  background-image: url(../../img/btn/btn_download.png);
}
#Navigate .btn_upload{
  background-image: url(../../img/btn/btn_upload.png);
  background-size: cover;
}
