
#Sidebox{
  box-sizing: border-box;
  float: left;
  width: 20%;
  overflow: hidden;
}

#Sidebox .filedetail{
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  height: 300px;width: 100%;
  border-right: 1px solid rgb(200,200,200);
  background-color: rgba(200,200,200,0.8);
}
#Sidebox .filedetail .thumbnail{
  display: block;
  margin-bottom: 10px;
  margin-left: -10px;
  height: 80px;width: 80px;
  background-size: cover;
  background-image: url(../../img/icon/file_fileicon.png);
  border: 0px;
  padding: 0px;
}
#Sidebox .filedetail .btnWrapper{
  position: relative;
  display: block;
  width: 100%;height: 30px;
  margin: 10px 0px;
}
#Sidebox .filedetail .btnWrapper .item{
  float: left;
  width: 30px;height: 30px;
  display: block;
  background-size: cover;
  cursor: pointer;
}
#Sidebox .filedetail .btnWrapper .edit{
  background-image: url(../../img/btn/btn_edit.png);
}
#Sidebox .filedetail .btnWrapper .download{
  background-image: url(../../img/btn/btn_download.png);
}

#Sidebox .filedetail .label{
  display: block;
  text-align: left;
}
#Sidebox .filedetail .title::before{
  content: 'Title:';
  display: inline-block;
  font: bold 1em 'Kaiti';
}
#Sidebox .filedetail .location::before{
  content: 'Location:';
  display: inline-block;
  font: bold 1em 'Kaiti';
}
#Sidebox .filedetail .type::before{
  content: 'Type:';
  display: inline-block;
  font: bold 1em 'Kaiti';
}
#Sidebox .filedetail .size::before{
  content: 'Size:';
  display: inline-block;
  font: bold 1em 'Kaiti';
}
#Sidebox .filedetail .create::before{
  content: 'Create:';
  display: inline-block;
  font: bold 1em 'Kaiti';
}
#Sidebox .filedetail .modify::before{
  content: 'Modify:';
  display: inline-block;
  font: bold 1em 'Kaiti';
}
#Sidebox .filedetail .access::before{
  content: 'Access:';
  display: inline-block;
  font: bold 1em 'Kaiti';
}

#Sidebox .filetree{
  position: relative;
  height: 280px;width: 100%;
  overflow: scroll;
  -moz-user-select: none;
  background-color: rgba(200,200,200,0.8);
}
#Sidebox .filetree::before{
  content: '';
  display: block;
  margin: 0px 10px 10px;
  width: 90%;height: 1px;
  background-color: rgb(200,200,200);
}
#Sidebox .filetree .dir{
  display: block;
  margin-left: 10px;
  padding: 0px;
  list-style: none;
  background-image: url(../../img/icon/thumbnail/dir_fileicon.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
#Sidebox .filetree .dir span{
  margin-left: 15px;
}
#Sidebox .filetree .file{
  display: block;
  margin-left: 10px;
  height: 15px;
  background-image: url(../../img/icon/thumbnail/file_fileicon.png);
  background-repeat: no-repeat;
  cursor: pointer;
  text-indent: 1em;
}
