
#DBAccess .item{
  border: 1px solid black;
  box-shadow: 0px 0px 3px black;
  margin: 10px 0px;padding: 10px;
}
#DBAccess .item .col{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: 1px solid gray;
}
#DBAccess .item *{
  display: block;
  min-width: 100px;
  text-align: center;
  border: 1px solid gray;
}

#DBAccess .Members .colId::before{
  content: 'id';
}
#DBAccess .Members .colAccount::before{
  content: 'account';
}
#DBAccess .Members .colPassword::before{
  content: 'password';
}
#DBAccess .Members .colRealname::before{
  content: 'realname';
}
#DBAccess .Members .colCompleted::before{
  content: 'completed';
}
#DBAccess .Members .colCurProject::before{
  content: 'curProject';
}

#DBAccess .Project .colId::before{
  content: 'id';
}
#DBAccess .Project .colState::before{
  content: 'state';
}
#DBAccess .Project .colReleaseTime::before{
  content: 'realease time';
}
#DBAccess .Project .colUpdateTime::before{
  content: 'update time';
}
#DBAccess .Project .colTitle::before{
  content: 'title';
}
#DBAccess .Project .colContent::before{
  content: 'content';
}
#DBAccess .Project .colCaptain::before{
  content: 'captain';
}
#DBAccess .Project .colMember::before{
  content: 'member';
}
#DBAccess .Project .colDocument::before{
  content: 'document';
}
