
#Communicate{
  /* display: none; */
  width:80%;
  margin: 0px auto;
  padding: 50px;
}

#Communicate .left{
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
#Communicate .left .item{
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;margin-bottom: 20px;padding: 0px 5px;
  background-color: rgba(120,60,180,0.7);
  border-radius: 5px;
  box-shadow: 5px 0px 10px black;
  cursor: pointer;
}
#Communicate .left .item .title{
  display: block;
  margin-bottom: 5px;
  text-indent: 1em;
  word-break: break-all;
  font-weight: bold;font-size: 1.5em;
  border-bottom: 1px solid rgb(200,200,200);
}
#Communicate .left .item .user{
  position: relative;
  font-size: 0.8em;
}
#Communicate .left .item .user .headimg{
  display: block;
  height: 30px;width: 30px;
  border-radius: 15px;
}
#Communicate .left .item .user .account{
  display: block;
  position: absolute;
  top: 0px;left: 35px;
  font: bold 1em 'Kaiti';
}
#Communicate .left .item .user .publishDate{
  display: block;
  position: absolute;
  bottom: 0px;left: 35px;
  font: bold 1em 'Kaiti';
}
#Communicate .left .item .overview{
  display: block;
  width: 100%;
  text-indent: 1em;
  max-height: 100px;
  overflow: hidden;
  word-break: break-all;
}

#Communicate .right{
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0px 10px;
}
#Communicate .right .writeBlog,
#Communicate .right .sortBy,
#Communicate .right .rank{
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;margin-bottom: 20px;padding: 0px 5px;
  background-color: rgba(120,60,180,0.7);
  border-radius: 5px;
  box-shadow: 5px 0px 10px black;
  cursor: pointer;
}

#Communicate .right .sortBy{
  height: 30px;
}
#Communicate .right .sortBy .label{
  display: inline-block;
  vertical-align: top;
  height: 20px;
  line-height: 20px;
  margin-top: 8px;
}
#Communicate .right .sortBy .wrapper{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  height: 20px;width: 80%;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 5px;margin-left: 5px;
  overflow: hidden;
}
#Communicate .right .sortBy .wrapper .item{
  float: left;
  height: 18px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}
#Communicate .right .sortBy .item:nth-of-type(1){
  background-color: green;
  width: 20%;
}
#Communicate .right .sortBy .item:nth-of-type(2){
  background-color: blue;
  width: 30%;
}
#Communicate .right .sortBy .item:nth-of-type(3){
  background-color: red;
  width: 50%;
}

#Communicate .right .rank .item{
  height: 30px;
  overflow: hidden;
}
#Communicate .right .rank .item::before{
  display: inline-block;
  width: 5%;
  line-height: 30px;
}
#Communicate .right .rank .item .title{
  display: inline-block;
  vertical-align: top;
  width: 70%;height: 30px;line-height: 30px;
  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}
#Communicate .right .rank .item .hotnum{
  display: inline-block;
  vertical-align: top;
  height: 30px;line-height: 30px;
}
#Communicate .right .rank .item:nth-of-type(1)::before{content: '1';}
#Communicate .right .rank .item:nth-of-type(2)::before{content: '2';}
#Communicate .right .rank .item:nth-of-type(3)::before{content: '3';}
#Communicate .right .rank .item:nth-of-type(4)::before{content: '4';}
#Communicate .right .rank .item:nth-of-type(5)::before{content: '5';}
#Communicate .right .rank .item:nth-of-type(6)::before{content: '6';}
#Communicate .right .rank .item:nth-of-type(7)::before{content: '7';}
#Communicate .right .rank .item:nth-of-type(8)::before{content: '8';}
#Communicate .right .rank .item:nth-of-type(9)::before{content: '8';}
#Communicate .right .rank .item:nth-of-type(10)::before{content: '10';}
