
#Documents{
  display: none;
  box-sizing: border-box;
  width: 90%;height: 92%;
  margin: 5% auto 0px;
}
#Documents .Fileview,
#Documents .Filetree{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  height: 90%;
  margin: 0px 10px;
  border-radius: 5px;
  box-shadow: 5px 0px 10px black;
  overflow: hidden;
  background-color: rgba(70,50,120,0.5);
}

#Documents .Fileview{width: 70%;}
#Documents .Fileview .controller{
  width: 100%;
  height: 30px;
}
#Documents .Fileview .controller .item{
  float: left;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-size: cover;
  border-radius: 7px;
}
#Documents .Fileview .controller .input_path{
  box-sizing: border-box;
  float: left;
  width: 400px;height: 24px;
  padding: 0px;margin: 3px 0px;
  text-indent: 0.3em;
  font-size: 1.2em;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid rgb(80,160,220);
  border-left: none;
  background-color: rgba(0,0,0,0);
  color: white;
}
#Documents .Fileview .controller .path_back{
  background-image: url(../../img/btn/path_back.png);
}
#Documents .Fileview .controller .path_forward{
  background-image: url(../../img/btn/path_forward.png);
}
#Documents .Fileview .controller .btn_select{
  background-image: url(../../img/btn/btn_select.png);
}
#Documents .Fileview .controller .btn_download{
  background-image: url(../../img/btn/btn_download.png);
  background-size: cover;
}
#Documents .Fileview .controller .btn_upload{
  background-image: url(../../img/btn/btn_upload.png);
  background-size: cover;
}
#Documents .Fileview .content{
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  -moz-user-select: none;
}
#Documents .Fileview .content .item{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50px;height: 50px;
  margin-top: 10px;
  cursor: pointer;
  background-size: cover;
}
#Documents .Fileview .content .item span{
  position: absolute;
  display: block;
  top: 50px;left: 0px;
  width: 50px;height: 15px;
  font-size: 0.6em;
  text-align: center;
  word-break: break-all;
  overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
#Documents .Fileview .content .selected::after{
  box-sizing: border-box;
  content: '';
  position: absolute;
  display: block;
  width: 100%;height: 100%;
  border: 1px solid rgb(80,120,220);
}
#Documents .Fileview .content .file_dir{
  background-image: url(../../img/icon/dir_fileicon.png);
}
#Documents .Fileview .content .file_pdf{
  background-image: url(../../img/icon/pdf_fileicon.png);
}
#Documents .Fileview .content .file_file{
  background-image: url(../../img/icon/file_fileicon.png);
}

#Documents .Filetree{
  width: 20%;
  padding: 10px;
  -moz-user-select: none;
  position: relative;
  box-sizing: border-box;
  overflow: scroll;
}
#Documents .Filetree .dir,
#Documents .Filetree .file{
  display: block;
  margin: 0px 15px 0px 10px;padding: 0px;
  list-style: none;
  background-image: url(../../img/icon/thumbnail/dir_fileicon.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
#Documents .Filetree span{
  display: inline-block;
  vertical-align: top;
  height: 15px;width: 200px;
  line-height: 15px;
  margin-left: 15px;
  white-space: nowrap;
}
#Documents .Filetree .file{
  background-image: url(../../img/icon/thumbnail/file_fileicon.png);
}
