
#Profile{
  /* display: none; */
  width: 80%;min-height: 100%;
  margin: 0px auto;
  padding: 10px 0px;
}

#Profile .Navigate{
  display: block;
  width: 100%;height: 30px;
  border-bottom: 1px solid white;
}
#Profile .Navigate .item{
  display: inline-block;
  margin: 0px 5px;
  height: 30px;
  font-weight: bold;
  border: 0px solid rgb(220,120,80);
  cursor: pointer;
}

#Profile .CompletedProjects{
  display: none;
}
/* Details */
#Profile .Details{
  display: none;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px auto;
  width: 100%;height: 100%;
  border-radius: 10px;
  background-color: rgba(100,80,155,0.5);
  white-space: nowrap;
  text-shadow: 2px 0px 5px black;
}
#Profile .Details .left{
  display: inline-block;
  position: relative;
  width: 220px;height: 100%;
}
#Profile .Details .left .headimg{
  display: block;
  margin: 10px auto;
  width: 200px;height: 200px;
  border-radius: 10px;
}
#Profile .Details .left .pertag,
#Profile .Details .left .account{
  display: block;
  width: 200px;height: auto;
  margin: 0px auto;
  overflow: hidden;
  white-space: normal;
}
#Profile .Details .left .account{
  font-weight: bold;
  font-size: 1.5em;
}

#Profile .Details .right{
  display: inline-block;
  padding: 10px 0px;
  vertical-align: top;
  max-width: -webkit-calc(100% - 240px);
  max-width: -moz-calc(100% - 240px);
  max-width: calc(100% - 240px);
}
#Profile .Details .right .base{
  width: 100%;
  white-space: normal;
  margin-bottom: 10px;
}
#Profile .Details .right .base::before{
  content: 'Base';
  display: block;
  margin-bottom: 5px;
  color: white;
  font: bold 1em 'Fangsong';
  border-bottom: 1px solid white;
}
#Profile .Details .right .base .item{
  display: inline-block;
  border-radius: 10px;
}
#Profile .Details .right .base .value,
#Profile .Details .right .base .label{
  display: inline-block;
  height: 20px;line-height: 20px;
  padding: 0px 5px;
  background-color: rgba(200,200,200,0.5);
}
#Profile .Details .right .base .label{background-color: rgb(200,200,200);}

#Profile .Details .right .allProjects{
  width: 100%;
  /* overflow: hidden; */
  word-break: break-all;
  margin-bottom: 10px;
  text-align: center;
}
#Profile .Details .right .allProjects::before{
  content: 'All Projects';
  display: block;
  margin-bottom: 5px;
  color: white;
  font: bold 1em 'Fangsong';
  text-align: left;
  border-bottom: 1px solid white;
}
#Profile .Details .right .allProjects .item{
  display: inline-block;
  box-sizing: border-box;
  width: 47%;padding: 10px;margin: 0px 10px;
  border: 1px solid rgb(200,200,200);
  border-radius: 10px;
  text-align: left;
}
#Profile .Details .right .allProjects .item .title,
#Profile .Details .right .allProjects .item .description,
#Profile .Details .right .allProjects .item .data{
  display: block;
  width: 100%;margin: 5px 0px;
  overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
#Profile .Details .right .allProjects .item .title{
  color: rgb(70,180,250);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.2em;
}
#Profile .Details .right .allProjects .item .data{
  margin-top: 10px;
}
#Profile .Details .right .allProjects .item .data .memberNum,
#Profile .Details .right .allProjects .item .data .status,
#Profile .Details .right .allProjects .item .data .createTime{
  margin-right: 10px;
}
#Profile .Details .right .allProjects .item .data .createTime::before{
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 20px;height: 20px;
  background: url(../img/icon/createTime.png);
  background-size: cover;
}
#Profile .Details .right .allProjects .item .data .memberNum::before{
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 20px;height: 20px;
  background: url(../img/icon/member.png);
  background-size: cover;
}
#Profile .Details .right .allProjects .item .data .status::before{
  content: '';
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-top: 2px;margin-right: 2px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.8);
  width: 16px;height: 16px;
}
#Profile .Details .right .allProjects .item .data .s_Ongoing::before{background-color: rgba(250,250,120,0.5);}
#Profile .Details .right .allProjects .item .data .s_Completed::before{background-color: rgba(80,200,120,0.5);}
#Profile .Details .right .allProjects .item .data .memberNum{
}

#Profile .Details .right .activity{
  margin-bottom: 10px;
}
#Profile .Details .right .activity::before{
  content: 'Activity';
  display: block;
  margin-bottom: 5px;
  color: white;
  font: bold 1em 'Fangsong';
  border-bottom: 1px solid white;
}
/* Schedule */
#Profile .Schedule{
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(100,80,155,0.5);
  text-shadow: 2px 0px 5px black;
}
#Profile .Schedule .projectInfo{
  border-bottom: 1px solid gray;
  margin-bottom: 10px;padding-bottom: 10px;
}
#Profile .Schedule .projectInfo .description,
#Profile .Schedule .projectInfo .title{
  display: block;
  width: 100%;margin: 5px 0px;
  font-size: 1.5em;
}
#Profile .Schedule .projectInfo .title{
  font-size: 2em;
  font-weight: bold;
  color: rgb(70,180,250);
  text-transform: capitalize;
}
#Profile .Schedule .projectInfo .proInfoData{
  width: 90%;
  position: relative;
  margin: 0px auto;
  font-family: 'Fangsong';
}
#Profile .Schedule .projectInfo .proInfoData::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 3%;
  top: 0px;left: -5%;
  border: 2px solid white;
  border-left: 0px;
  border-radius: 0px 10px 10px 0px;
}
#Profile .Schedule .projectInfo .proInfoData .labelData{
  display: inline-block;
  vertical-align: bottom;
  height: 20px;
}
#Profile .Schedule .projectInfo .proInfoData .labelData .label,
#Profile .Schedule .projectInfo .proInfoData .labelData .value{
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
  background-color: rgb(80,180,200);
  border-radius: 6px 0px 0px 6px;
}
#Profile .Schedule .projectInfo .proInfoData .labelData .value{
  background-color: rgb(200,200,200);
  border-radius:  0px 6px 6px 0px;
}
#Profile .Schedule .projectInfo .proInfoData .percentData{
  display: block;
  position: relative;
  height: 20px;width: 85%;
  margin: 10px 0px;
  border-radius: 6px;
  border: 1px solid rgb(80,180,200);
  overflow: hidden;
}
#Profile .Schedule .projectInfo .proInfoData .percentData .label{
  box-sizing: border-box;
  display: block;
  float: left;
  height: 20px;width: 100px;
  overflow: hidden;
  line-height: 20px;
  background-color: rgb(80,180,220);
  padding: 0px 5px;
}
#Profile .Schedule .projectInfo .proInfoData .percentData .value{
  display: block;
  box-sizing: border-box;
  float: left;
  height: 100%;width: 0px; /* 87%*x% */
  padding: 0px 5px;
  background-color: rgb(200,200,200);
  text-align: right;
}
#Profile .Schedule .timeAxis{
  position: relative;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;padding-bottom: 10px;
}
#Profile .Schedule .timeAxis .ta_display{
  width: 100%;height: 300px;
  text-align: center;
  white-space: nowrap;
}
#Profile .Schedule .timeAxis .ta_display .ta_card{
  display: inline-block;
  position: relative;
  width: 50%;height: 80%;
  margin-top: 1%;
  text-align: center;
  box-shadow: 2px 0px 10px rgba(0,0,0,0.8);
  background-color: rgba(50,180,180,0.2);
}
#Profile .Schedule .timeAxis .ta_display .baseData .expectedTime{font: bold 1em 'Fangsong';}
#Profile .Schedule .timeAxis .ta_display .baseData .content{
  display: block;
}
#Profile .Schedule .timeAxis .ta_display .appendContent{font: bold 1em 'Fangsong';}
#Profile .Schedule .timeAxis .ta_wrapper{
  position: absolute;
  width: 100%;height: 20px;
  bottom: 10px;left: 0px;
  text-align: center;
}
#Profile .Schedule .timeAxis .ta_wrapper::before{
  content: '';
  height: 2px;width: 90%;/* set by js */
  position: absolute;
  top: 9px;left: 5%;
  background-color: rgba(200,200,200,0.9);
}
#Profile .Schedule .timeAxis .ta_wrapper .point{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 10px;
  width: 20px;height: 20px;
  cursor: pointer;
}
#Profile .Schedule .timeAxis .ta_wrapper .s_Ongoing{
  background-color: rgb(250,250,120);
}
#Profile .Schedule .timeAxis .ta_wrapper .s_Completed{background-color: rgb(80,200,120);}
#Profile .Schedule .timeAxis .ta_wrapper .s_Incompleted{background-color: rgb(150,150,150);}
#Profile .Schedule .timeAxis .ta_wrapper .point .expectedTime,
#Profile .Schedule .timeAxis .ta_wrapper .point .content{display: none;}
#Profile .Schedule .taskList{
  padding-bottom: 10px;
}
#Calendar {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 350px;height: 380px;
  box-shadow: 2px 0px 10px rgba(0,0,0,0.8);
  background-color: rgba(50,180,180,0.2);
}
#Calendar #date_time {
  cursor: default;
  position: relative;
  height: 45px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
#Calendar #date_time .time {
  position: relative;
  float: left;
  width: 40%;
  height: 100%;
  display: box;
  box-pack: center;
  box-align: center;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
#Calendar #date_time .date {
  position: relative;
  float: left;
  width: 60%;
  height: 100%;
  display: box;
  box-pack: center;
  box-align: center;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-shadow: -1px 0 rgba(255, 255, 255, 0.6), inset 1px 0 rgba(0, 0, 0, 0.15);
}
#Calendar #calendar .ui-datepicker {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
#Calendar #calendar .ui-datepicker .ui-datepicker-header {
  cursor: default;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 -1px rgba(255, 255, 255, 0.6), 0 1px rgba(0, 0, 0, 0.15), 0 -1px rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  text-transform: uppercase;
}
#Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-month {
  height: 50px;
  font-size: 140%;
  line-height: 50px;
}
#Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-year {
  display: none;
}
#Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev, #Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 0;
}
#Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 0;
}
#Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 0;
}
#Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover, #Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover {
  border: 0;
  background: transparent;
}
#Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon, #Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon {
  position: absolute;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  margin: auto;
  border-width: 3px 0 0 3px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.6);
  background: transparent;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#Calendar #calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon {
  left: -5px;
  border-width: 3px 3px 0 0;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#Calendar #calendar .ui-datepicker .ui-datepicker-calendar {
  margin: 0;
  overflow: hidden;
}
#Calendar #calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a{
  text-shadow: 0px 0px 10px white;
}
#Calendar #calendar .ui-datepicker thead th {
  cursor: default;
  height: 25px;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.6), 0 1px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  line-height: 25px;
  text-transform: uppercase;
}
#Calendar #calendar .ui-datepicker thead th:first-child.ui-datepicker-week-end {
  box-shadow: inset -1px 0 rgba(255, 255, 255, 0.6), 1px 0 rgba(0, 0, 0, 0.15);
}
#Calendar #calendar .ui-datepicker thead th:last-child.ui-datepicker-week-end {
  box-shadow: inset 1px 0 rgba(0, 0, 0, 0.15), -1px 0 rgba(255, 255, 255, 0.6);
}
#Calendar #calendar .ui-datepicker tbody td {
  padding: 0;
  margin: 0;
}
#Calendar #calendar .ui-datepicker tbody td a.ui-state-default {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  display: box;
  box-pack: center;
  box-align: center;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
#Calendar #calendar .ui-datepicker tbody td a.ui-state-default:hover, #Calendar #calendar .ui-datepicker tbody td a.ui-state-active, #Calendar #calendar .ui-datepicker tbody td a.ui-state-highlight {
  font-size: 130%;
  font-weight: bold;
}
#Profile .Schedule .taskList .task{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: calc(100% - 375px);height: 380px;
  padding: 10px 20px 0px;
  list-style: none;
  box-shadow: 2px 0px 10px rgba(0,0,0,0.8);
  background-color: rgba(50,180,180,0.2);
}
#Profile .Schedule .taskList .task .task_item::before{
  content: '';
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  height: 20px;width: 20px;
  background-color: white;
}
