
#Regisproject{
  /* display: none; */
  box-sizing: border-box;
  position: relative;
  width: 90%;height: 85%;
  margin: 5% auto 0px;
}
#Regisproject input,#Regisproject textarea{
  border: none;padding: 0px;margin: 0px;
  background-color: transparent;
  font-family: 'ArtegraSansExtended';
  font-weight: bold;
  color: white;
  resize: none;
}

#Regisproject .Essential,
#Regisproject .Editstage,
#Regisproject .Check{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  padding: 5px 10px;
  margin: 0px 10px;
  border-radius: 5px;
  box-shadow: 5px 0px 10px black;
  background-color: rgba(100,70,180,0.5);
  overflow: hidden;
}

#Regisproject .Essential .title,
#Regisproject .Essential .projectDoc,
#Regisproject .Essential .description,
#Regisproject .Essential .members,
#Regisproject .Editstage .addStage,
#Regisproject .Editstage .stages{
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;height: 30px;
  margin: 5px 0px;
  background-color: rgba(120,60,180,0.7);
  border-radius: 5px;
  box-shadow: 5px 0px 10px black;
}

/* Essential */
#Regisproject .Essential{
  position: relative;
  width: 30%;
}
#Regisproject .Essential *{
  text-shadow: 5px 0px 2px black;
}

#Regisproject .Essential .title{height: 5%;}
#Regisproject .Essential .title .inner{
  position: absolute;
  box-sizing: border-box;
  top: 0px;left: 0px;
  width: 100%;height: 100%;
  font-size: 1.1em;
  padding: 0px 5px;
}

#Regisproject .Essential .projectDoc{
  width: 100%;height: 5%;
  font-size: 1.1em;
  padding: 2px 5px;
  cursor: pointer;
  overflow: hidden;
}
#Regisproject .Essential .projectDoc .inner{display: none;}

#Regisproject .Essential .description{height: 15%;}
#Regisproject .Essential .description .inner{
  position: absolute;
  box-sizing: border-box;
  top: 0px;left: 0px;
  width: 100%;height: 100%;
  padding: 0px 5px;
}

#Regisproject .Essential .members{
  height: 70%;padding: 10px;
}
#Regisproject .Essential .members .btn_add,
#Regisproject .Essential .members .btn_del{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 30px;height: 30px;
  background: url(../img/btn/btn_dec.png),rgb(200,200,200);
  border-radius: 15px;
  box-shadow: 1px 1px 2px black;
  background-size: cover;
  cursor: pointer;
}
#Regisproject .Essential .members .btn_add{
  background: url(../img/btn/btn_inc.png),rgb(200,200,200);
  background-size: cover;
}
#Regisproject .Essential .members .wrapper{
  margin-top: 10px;
}
#Regisproject .Essential .members .wrapper .item{
  box-sizing: border-box;
  width: 100%;height: 30px;
  margin-bottom: 10px;
  position: relative;
}
#Regisproject .Essential .members .wrapper .item .headimg{
  position: absolute;
  width: 30px;height: 30px;
  border-radius: 15px;
  box-shadow: 5px 0px 10px black;
}
#Regisproject .Essential .members .wrapper .item .account{
  position: absolute;
  left: 40px;
  color: white;
  width: 169px;height: 30px;
  padding-top: 2px;
  line-height: 30px;
  font-weight: bold;
  text-indent: 5px;
  text-shadow: 5px 0px 2px black;
  overflow: hidden;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
}
/* Editstage */
#Regisproject .Editstage{
  width: 60%;
}
#Regisproject .Editstage .addStage{
  height: 30%;
  padding: 10px;
}
#Regisproject .Editstage .addStage .timestamp{
  position: relative;
  width: 220px;height: 22px;
  background-color: rgb(220,120,120);
  border-radius: 10px;
  margin: 0px auto 10px;
  overflow: hidden;
}
#Regisproject .Editstage .addStage .timestamp .inner{
  float: left;
  box-sizing: border-box;
  width: 80%;height: 100%;
  padding: 0px 5px;
  /* border: 1px solid white; */
}
#Regisproject .Editstage .addStage .timestamp .add{
  float: right;
  box-sizing: border-box;
  width: 20%;height: 100%;line-height: 100%;
  background-color: rgba(100,255,100,0.5);
  border-radius: 0px 10px 10px 0px;
  font: bold 1em 'Fangsong';
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}
#Regisproject .Editstage .addStage .target{
  width: 100%;height: 80%;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(90,60,120,0.5);
  border: 1px solid rgba(140,60,220,1);
  box-shadow: 0px 0px 10px rgba(140,60,220,1);
  border-radius: 10px;
}
#Regisproject .Editstage .addStage .target .inner{
  width: 100%;height: 100%;
}
#Regisproject .Editstage .stages{
  width: 100%;height: 68%;
  padding: 10px 0px;
}
#Regisproject .Editstage .stages .item{
  position: relative;
  box-sizing: border-box;
}
#Regisproject .Editstage .stages .item::before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 20px;height: 20px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: rgb(200,60,120);
}
#Regisproject .Editstage .stages .item::after{
  content: '';
  position: absolute;
  top: 10px;left: 20px;
  width: 5px;height: 2px;
  background-color: white;
}
#Regisproject .Editstage .stages .item .timestamp{
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  height: 20px;line-height: 20px;
  padding: 1px 2px 0px;
  border-radius: 5px;
  border: 2px solid white;
  font: bold 0.9em 'Fangsong';
}
#Regisproject .Editstage .stages .item .content{
  display: block;
  padding: 0px 25px;
  font-weight: bold;
  word-break: break-all;
}
/* Check */
#Regisproject .Submit{
  display: block;
  position: absolute;
  right: 40px;bottom: -20px;
  box-sizing: border-box;
  padding-top: 25px;
  text-align: center;
  width: 70px;height: 70px;
  border-radius: 35px;
  background-color: rgba(20,80,190,0.8);
  box-shadow: 5px 0px 20px black;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}

#Regisproject .Essential .membersOperabox{
  display: none;
}
