
body{
  overflow: hidden;
  background-color: #20293a;
  -moz-user-select: none;
  user-select: none;
}
#Login{
  position: relative;
  width: 600px;height: 600px;
  margin: 10% auto;
  border-radius: 350px;
  box-shadow: 0px 0px 800px blue;
  background-color: transparent;
}
#Login .back{
  position: absolute;
  top: 0px;left: 0px;
  width: 100%;height: 100%;
  border-radius: 50%;
}
#Login .backOne{
  animation: BackOne 4s linear 2s infinite;
  box-shadow: -300px 0px 200px rgba(255,0,0,0.7);
}
#Login .backTwo{
  animation: BackTwo 4s linear 2s infinite;
  box-shadow: 300px 0px 200px rgba(0,255,0,0.7);
}
#Login .backOne::before{
  position: absolute;
  content: '';
  top: 0px;left: 0px;
  width: 50%;height: 100%;
  border-radius: 300px 0px 0px 300px;
  background: linear-gradient(to left,rgb(100,100,150),rgba(255,0,0,0.7) 80%);
}
#Login .backTwo::before{
  position: absolute;
  content: '';
  top: 0px;right: 0px;
  width: 50%;height: 100%;
  border-radius: 0px 300px 300px 0px;
  background: linear-gradient(to right,rgb(100,100,150),rgba(0,255,0,0.7) 80%);
}

#Login .content{
  position: absolute;
  width: 100%;height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 100px blue;
  background: radial-gradient(rgba(0,0,0,0),blue 100%);
  cursor: pointer;
}
#Login .content .svgWrapper{
  width: 100%;height: 100%;
}
#Login .content .svgAnimation{
  position: relative;
  width: 80%;height: 200px;
}
#Login .content .svgAnimation:nth-of-type(1){
  top: 100px;left: 63px;
}
#Login .content .svgAnimation:nth-of-type(2){
  top: 100px;
}
#Login .content .svgAnimation:nth-of-type(1) .svgPath{
  fill: white;
}
#Login .content .svgAnimation .svgPath{
  position: relative;
  bottom: 0px;
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:none;
  stroke-width: 10px;
  stroke: white;
  animation: SvgLineMove 6s ease-out;
}
#Login .content .Clocker{
  display: block;
  position: relative;
  top: -200px;left: 0px;
  width: 180px;height: 40px;
  margin: 0px auto;
  font-size: 2em;font-weight: bold;
  text-align: center;
  color: white;
}

#Login .content .Console{
  display: none;
  opacity: 0;
  box-sizing: border-box;
  position: absolute;
  left: 15%;top: 25%;
  width: 70%;height: 50%;
  border-radius: 10px;
  background-color: rgba(70,50,200,0.8);
  border: 2px solid rgba(80,60,240,0.9);
  box-shadow: 0px 0px 20px rgb(80,60,240);
  overflow: hidden;
}
#Login .content .Console .c_content{
  width: 110%;height: 100%;
  margin: 10px;
  font: bold 1em 'Fangsong';
  letter-spacing: 2px;
  overflow-y: scroll;
  color: white;
}
#Login .content .Console .c_content::after{
  display: inline-block;
  content: 'I';
  font: bold 1em 'ArtegraSansExtended';
  animation: CursorShining 1s infinite;
}
#Login .content .Console .c_content .label{
  color: rgb(80,150,255);
}
#Login .content .Console .c_content .line{
  font-weight: normal;
  font-style: italic;
}
#Login .content .Console .c_content .retline{
  font-size: 0.8em;
}
@keyframes CursorShining {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes BackOne {
  0%{
    box-shadow: -300px 0px 200px rgba(255,0,0,0.7);
  }
  50%{
    box-shadow: -400px 0px 200px rgba(255,0,0,0.5);
  }
  100%{
    box-shadow: -300px 0px 200px rgba(255,0,0,0.7);
  }
}
@keyframes BackTwo {
  0%{
    box-shadow: 300px 0px 200px rgba(0,255,0,0.7);
  }
  50%{
    box-shadow: 400px 0px 200px rgba(0,255,0,0.5);
  }
  100%{
    box-shadow: 300px 0px 200px rgba(0,255,0,0.7);
  }
}
@keyframes SvgLineMove {
  0%{
    stroke-dasharray: 0,1000;
  }
  100%{
    stroke-dasharray: 2000,0;
  }
}
