
body{
  -moz-user-select: none;
}
#main{
  position: absolute;
  margin: 50px 100px 50px 100px;
  width: 100%;height: 100%;
}

#info{
  position: absolute;
}
#info .headimg{
  display: block;
  width: 200px;height: 200px;
  border-radius: 5px;
}
#info .account{
  display: block;
  width: 200px;
  word-break: break-all;
  font: normal 2.2em 'Fangsong';
}
#info .pertag{
  display: block;
  width: 200px;
  font-size: 1.2em;
  word-wrap: break-word;
}

#navigate{
  position: absolute;
  display: block;
  top: 0px;left: 220px;
  width: 60%;height: 30px;
  border-bottom: 1px solid rgb(180,180,180);
}
#navigate .item{
  display: inline-block;
  margin: 0px 5px;
  height: 30px;
  border-width: 0px;
  border-color: rgb(220,120,80);
  border-style: solid;
  cursor: pointer;
}

#currentProject{
  position: relative;
  display: inline-block;
  top: 50px;left: 220px;
  width: 60%;height: auto;
  }
#currentProject .title{
  display: block;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(to right,rgba(80,80,150,1),rgba(0,0,0,0.2));
}
#currentProject .overview{
  display: block;
  word-wrap: break-word;
  font-size: 1.2em;
}
#currentProject .list{
  list-style: none;
  margin: 0px;padding: 0px;
}
#currentProject .list .stage{
  height: 40px;
  margin: 0px 0px 10px 20px;
}
#currentProject .list .stateIcon::after{
  content: '';
  position: relative;
  left: -11px;top: -5px;
  display: block;
  width: 2px;height: 45px;
  background-color: gray;
}
#currentProject .list .stateIcon::before{
  content: '';
  position: relative;
  display: block;
  left: -20px;top: 25px;
  box-sizing: border-box;
  width: 20px;height: 20px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: black;
}
#currentProject .list .completed::before{
  background-color: green;
}
#currentProject .list .current::before{
  background-color: yellow;
}
#currentProject .list .future::before{
  background-color: rgb(60,60,60);
}
#currentProject .list .lastStage::after{
  background-color: rgba(0,0,0,0);
}
#currentProject .list .stage .timestamp{
  display: inline-block;
  background-color: green;
  margin: 5px 5px 0px 5px;padding: 1px 2px 0px;
  border-radius: 10px;
}
#currentProject .list .stage .content{
  font-weight: bold;
}

#completedProjects{
  position: relative;
  display: none;
  top: 50px;left: 220px;
  width: 60%;height: auto;
}
#completedProjects .project{
  padding: 10px;
}
#completedProjects .project .title{
  display: block;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(to right,rgba(80,80,150,1),rgba(0,0,0,0.2));
}
#completedProjects .project .overview{
  display: block;
  word-wrap: break-word;
  font-size: 1.2em;
}
#completedProjects .project .list{
  list-style: none;
  margin: 0px;padding: 0px;
}
#completedProjects .project .list .stage{
  height: 40px;
  margin: 0px 0px 10px 20px;
}
#completedProjects .project .list .stateIcon::after{
  content: '';
  position: relative;
  left: -11px;top: -5px;
  display: block;
  width: 2px;height: 45px;
  background-color: gray;
}
#completedProjects .project .list .stateIcon::before{
  content: '';
  position: relative;
  display: block;
  left: -20px;top: 25px;
  box-sizing: border-box;
  width: 20px;height: 20px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: black;
}
#completedProjects .project .list .completed::before{
  background-color: green;
}
#completedProjects .project .list .current::before{
  background-color: yellow;
}
#completedProjects .project .list .future::before{
  background-color: rgb(60,60,60);
}
#completedProjects .project .list .lastStage::after{
  background-color: rgba(0,0,0,0);
}
#completedProjects .project .list .stage .timestamp{
  display: inline-block;
  background-color: green;
  margin: 5px 5px 0px 5px;padding: 1px 2px 0px;
  border-radius: 10px;
}
#completedProjects .project .list .stage .content{
  font-weight: bold;
}

#editProfile{
  padding: 50px 220px;
}
