
#Analysis{
  display: none;
  box-sizing: border-box;
  width: 90%;height: 92%;
  margin: 5% auto 0px;
}
#Analysis .wrapper{
  width: 90%;max-height: 100%;
  margin: 0px auto;
  box-shadow: 5px 0px 10px black;
  font-weight: bold;
}
#Analysis .wrapper th{
  background-color: rgb(80,120,200);
}
#Analysis .wrapper td{
  text-align: center;
  background-color: rgb(100,50,150);
}
