
#Regisproject #Overview{
  position: relative;
  display: block;
  margin: 20px 0px;
}

#Regisproject #Overview .title{
  box-sizing: border-box;
  display: block;
  width: 400px;
  margin: 0px;padding: 0px;
  border: 1px solid rgb(80,180,120);
  font: normal 1.2em 'Kaiti';
  padding: 2px;
  background-color: rgba(200,200,200,0.8);
}

#Regisproject #Overview .projectDoc{
  box-sizing: border-box;
  width: 400px;height: 40px;
  margin: 5px 0px;padding: 10px;
  text-align: center;
  color: white;
  background: rgba(80,180,120,0.8);
}
#Regisproject #Overview .projectDoc::before{
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 37px;left: 5px;
  display: block;
  width: 390px;height: 34px;
  border: 1px dashed white;
  cursor: pointer;
}
#Regisproject #Overview .projectDoc .core{
  display: none;
}

#Regisproject #Overview .overview{
  box-sizing: border-box;
  display: block;
  width: 400px;height: 150px;
  margin: 5px 0px;padding: 5px;
  border: 1px solid rgb(80,180,120);
  font: normal 1em 'Kaiti';
  resize: none;
  background-color: rgba(200,200,200,0.8);
}

#Regisproject #Overview .members{
  box-sizing: border-box;
  width: 400px;height: auto;
  min-height: 100px;
  padding: 10px 10px 5px 10px;
  border: 1px solid rgb(80,180,120);
  background-color: rgba(200,200,200,0.8);
}
#Regisproject #Overview .members::before{
  box-sizing: border-box;
  content: 'Members';
  position: absolute;
  top: 270px;left: -55px;
  display: block;
  width: 90px;height: auto;
  text-align: center;
  transform: rotateZ(-90deg);
  border-radius: 30px 30px 0px 0px / 10px 10px 0px 0px;
  background-color: rgb(80,180,120);
  font: 200 1em 'Fangsong';
}
#Regisproject #Overview .members .item{
  position: relative;
  display: inline-block;
  margin: 10px 0px;
}
#Regisproject #Overview .members .item .headimg{
  display: block;
  width: 40px;height: 40px;
}
#Regisproject #Overview .members .item .account{
  position: absolute;
  top: 40px;left: 0px;
  display: block;
  width: 40px;height: auto;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
#Regisproject #Overview .members .btn{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 40px;height: 40px;
  margin: 10px 0px;
  border: 2px solid rgb(150,150,150);
  cursor: pointer;
}
#Regisproject #Overview .members .add::before{
  content: '';
  position: absolute;
  display: block;
  width: 16px;height: 2px;
  top: 17px;left: 10px;
  background-color: rgb(150,150,150);
}
#Regisproject #Overview .members .add::after{
  content: '';
  position: absolute;
  display: block;
  width: 2px;height: 16px;
  top: 10px;left: 17px;
  background-color: rgb(150,150,150);
}
#Regisproject #Overview .members .del::before{
  content: '';
  position: absolute;
  display: block;
  width: 16px;height: 2px;
  top: 17px;left: 10px;
  background-color: rgb(150,150,150);
}

#Regisproject #Overview .members .membersOperabox{
  display: none;
  position: relative;
  width: 100%;
  margin: 0px 0px 5px;padding: 20px 0px 0px;
  overflow: hidden;
}
#Regisproject #Overview .members .membersOperabox::before{
  content: '';
  position: relative;
  display: block;
  width: 100%;height: 1px;
  background-color: rgb(200,200,200);
  margin: 0px 0px 25px;
}
#Regisproject #Overview .members .membersOperabox .submit{
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 10px;right: 0px;
  width: 75px;height: 20px;
  padding: 0px 5px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  border: 0px solid rgb(200,200,200);
  border-bottom-width: 1px;
  border-right-width: 1px;
}
#Regisproject #Overview .members .membersOperabox .aitem{
  width: 100%;height: 30px;
  margin: 5px 0px;
  background: repeating-linear-gradient(to right,rgba(160,160,160,1),rgba(160,160,160,1));
}
#Regisproject #Overview .members .membersOperabox .aitem .headimg{
  display: inline-block;
  width: 30px;height: 30px;
  margin-bottom: -5px;
}
#Regisproject #Overview .members .membersOperabox .aitem .account{
  display: inline-block;
}
#Regisproject #Overview .members .membersOperabox .aitem .select{
  float: right;
  margin: 5px 5px 0px 0px;
}
